<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="notepad.main" android:versionCode="1" android:versionName="BETA">
    <uses-sdk android:minSdkVersion="8" 
          android:targetSdkVersion="9"
          android:maxSdkVersion="13" />
    <application android:icon="@drawable/launcher" android:label="#! Notepad BETA" android:debuggable="false">
        <activity android:name=".Notepadv3" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoteEdit" />
        <activity android:name="ListEdit"
        	 android:windowSoftInputMode="adjustPan">
        </activity>
    </application>
</manifest> 